<style type="text/css">
.ads_link {
  font-family: NexaBold, Helvetica, Arial, sans-serif;
  color: #e74c3c!important;
}
</style>






<% @ads.each do |ad| %>
  <div class="adspace_grid">
    <div class="pic_sec">
      <%= image_tag ad.preview.url(:medium) %>
    </div>
    <div class="text_info">
      <span class="bold"><%= ad.title %></span> / 
      <span class="bold">Contact : </span><%= ad.url %>
    </div>
  </div> 
    <%= link_to 'Delete', ad, :method => :delete %> 
    <% end %>


