/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
   width: 100%;
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
}


body {
	background-color: #ffffff;
	margin: 0;

}

#error_explanation {
	color: white;
	font-family: 'Lato'
}

.red_bg {
	background-color: #3498db;
	height: 100%;
}

.ra_button input {
	width: 45px;
	position: relative;
	left: -25px;
}

#ad_preview {
	border-radius: 5px;
	padding: 3px;
	border: none;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
}

.ra_button span {
	position: relative;
	top: -18px;
	left: -25px;
}

.pay_sec {
	height: auto;
	width: auto;
	padding: 15px;
	background-color: #2980b9;
	border-radius: 10px;
	margin: 0 0 10px 0;
	position: relative;
	left: -15px;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
}

select {
	background-color: white;
	border-radius: 5px;
	padding: 3px;
	border: none;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
}

.pay_sec input {
	text-align: left!important;
	text-indent: 15px;
}

.red_bg_full {
	background-color: #e74c3c;
	height: auto;
}

.gads {
	color: white;
}

.stripe {
	width: 10%;
	height: 28px;
	position: relative;
	top: 4px;
}

.glob-con {
	margin: 0px auto 0 auto;
	padding: 0 0 0px 0;
	width: 50%;
	position: relative;
	top: 0px;
}

.glob-con_m {
	margin: 0px auto 0 auto;
	padding: 0 0 0px 0;
	width: 70%;
	position: relative;
	top: 80px;
}

hr {
	border: 0;
    height: 1px;
    background: #333;
}

.scroll {
	height: 256px;
	width: 256px;
	background: url("arrow.png");
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: "Lato", Arial, sans-serif;
	text-align: center;
}

.scroll span {
	position: relative;
	top: 58px;
}

.arrow_down {
	position: relative;
	top: 40%;
	left: 50%;
	margin-left: -128px;
	width: auto;
	height: auto;
}

.welcome_area {
	background-color: #3498db;
	height: 50%;
	width: 100%;
}

.index-con {
	
}

 .login_form {
 	width: 600px;
 	height: auto;
 	top: 50%;
 	left: 50%;
 	margin-top: -92px;
 	margin-left: -300px;
 	position: absolute;
 }

 .login_form input {
 	width: 600px;
 	height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 .new_ad {
 	position: relative;
 	top: 50px;
 }

  .new_ad input {
 	width: 600px;
 	height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	background-color: white;
 	line-height: 50px;
 }

.search_f input {
 	width: 200px;
 	height: 30px;
 	border: 0;
 	border-radius: 5px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 0px 0;
 	font-size: 16px;
 	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	background-color: white;
 	line-height: 30px;
 	padding: 0 5px;
 	border-top-right-radius: 0;
 	border-bottom-right-radius: 0;
 }

 .search_f {
 	margin: 0;
 }

 .search_f .submit {
 	background: black!important;
 	width: 100px!important;
 	color: white;
 }

 .submit:hover {
	background-color: #2980b9;
 }

 .new_ad textarea {
 	width: 600px;
 	height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	background-color: white;
 	line-height: 50px;
 }

 .new_ad button {
 	border: none;
 	border-radius: 10px;
 	width: 600px;
 	height: 50px;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	background-color: white; 
 }

.no_align input {
	text-align: left!important;
	width: 100px;
	line-height: 50px;
	height: 50px; 
}

 .ra_button input {
 	box-shadow: none!important;
 }

.login_form .small_btn {
	width: 290px!important;
	margin: 0 10px 0 0;
	float: left;
}

.login_form .small_btn_right {
	width: 290px;
	margin: 0 0 0 10px;
	float: right;
	height: 50px;
	background-color: black!important;
	color: white!important;
}

.small_btn:hover input, .small_btn_right:hover {
	background-color: #2980b9!important;
}

.small_btn_right:hover {
	background-color: #2980b9!important;
}

.small_btn .pointer {
	color: white;
	background-color: black;
}

.pointer:hover {
	background-color: #2980b9;	
}

.small_fix {
	width: 100%!important;
}

.login_form a {
	color: inherit;
	text-decoration: none;
 	font-size: 16px;
 	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.login_form .small_btn_right {
	width: 290px;
 	height: 50px;
 	line-height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	background-color: buttonface;
 	color: inherit;
 	text-decoration: none;
}

label {
	color: white;
	font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.label {
	color: white;
	font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new_ad span {
	color: white;
	font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new_ad_fix {
	margin: 0 auto 0 auto;
	width: 604px!important;
	display: block!important;
}

.new_ad {
	margin: 0 auto 0 auto;
	width: auto;
	display: inline-block;
}

.font_area_fix {
	font-size: 16px!important;
	text-align: left!important;
	height: 300px!important;
	line-height: normal!important;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.pointer {
	cursor: pointer;
}

.field {
	display: inline-block;
}

.middle_cen {
	margin: 0 auto 0 auto;
	float: none;
	width: 290px;
	height: 50px;
}

.shiw {
	color: white;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 800px;
	margin-left: -400px; 
	margin-top: -80px;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 50%;
}

.shiw h2 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center; 
	margin-top: 0 0 40px 0;
	font-weight: 700;
}

h1 {
	color: white;
	font-family: "Lato", "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.afixdspace_grid {
	width: 125px;
	height: 125px;
	background-color: white;
	border-radius: 10px;
	display: inline-block;
	overflow: hidden;
}

.text_info {
	height: 50px;
	font-family: "Lato", "Helvetica Neue", Helvetica, arial, sans-serif;
	position: relative;
	background-color: rgba(0,0,0,0.5);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 125px;
	margin-top: 75px;
		transition: margin-top 0.5s;
-webkit-transition: margin-top 0.5s; /* Safari */
-moz-transition: margin-top 0.5s; /* Safari */
}

.navs form {
	display: inline-block!important;
}

.glow_f {
	box-shadow: none!important;
}

.text_info_f {
	height: 50px;
	font-family: "Lato", "Helvetica Neue", Helvetica, arial, sans-serif;
	position: relative;
	background-color: rgba(0,0,0,0.5);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 250px;
	margin-top: 200px;
	transition: margin-top 0.5s;
-webkit-transition: margin-top 0.5s; /* Safari */
-moz-transition: margin-top 0.5s; /* Safari */
}

.bold {
	font-family: "Lato", "Helvetica Neue", Helvetica, arial, sans-serif!important;
	font-weight: 700;
}

.logo {
	width: auto;
	float: left;
	color: white;
	font-size: 26px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.navs {
	color: black;
	font-family: "Lato", "Helvetica Neue", Helvetica, arial, sans-serif;
	font-size: 20px;
	width: auto;
	float: right;
	margin: 0 15px 0 0;
}

.navs a {
	text-decoration: none;
	color: white;
	margin: 0 0 0 30px;
}

.navs a:hover {
	font-family: "Lato", "Helvetica Neue", Helvetica, arial, sans-serif;
	font-weight: 700;
}

.navs .submit {
	background-color: black;
	color: white!important;
	box-shadow: none;
	height: 30px;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0; 
	margin: 0 0 0 -5px;
}

.submit:hover {
	background-color: #2980b9!important;
}

.header {
	height: 70px;
	line-height: 70px;
	z-index: 400;
}

.pic_sec {
	height: 125px;
	width: 125px;
	display: inline-block;
    vertical-align:middle;
    position: absolute;
}

.featured_con {
	width: 400px;
	height: 400px;
	margin: 0 auto 0 auto;
}

.pic_sec_f {
	height: 250px;
	width: 250px;
	display: inline-block;
    vertical-align:middle;
    position: absolute;
}

.afixdspace_grid_f {
	width: 250px;
	height: 250px;
	background-color: white;
	border-radius: 10px;	
	display: inline-block;
	margin: 0 15px 10px 0;
	background-color: white;
	color: black;
	overflow: hidden;
}

.pic_sec img {
	border-radius: 10px;
}

.pic_sec_f img {
	border-radius: 10px;
}

.title_show {
	font-size: 36px!important;
	text-align: center;
}

.white_box {
	width: 1060px;
	min-height: 850px;
	background-color: white;
	border-radius: 10px;
	position: relative;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);	
	display: inline-block;
	top: 70px;
	left: 50%;
	margin-left: -520px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding: 0 10px 0 10px;
}

.show_img {
	margin: 0 auto;
	border-radius: 10px;
	display: block;
}

a.delete {
	font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

a.title {
	font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;	
}

.title {
	font-family:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;	
}

.header {
	background-color: #3498db;
	width: 100%;

}

.text_title {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.text_info_f:hover, .text_info_f:focus {
	margin-top: 0px;
	height: 250px;
	border-radius: 10px;

}

.extra_info_f {
	color: white;
	display: none;
	padding: 0 8px 0 8px;
}

.extra_info {
	color: white;
	display: none;
	padding: 0 8px 0 8px;
}

.text_info_f:hover .extra_info_f, .text_info_f:focus .extra_info_f {
	display: inline-block;
}

.text_info:hover .extra_info, .text_info:focus .extra_info {
	display: inline-block;
}

.featured_container {
	width: 100%;
	height: auto;
}

.text_info:hover, .text_info:focus {
	margin-top: 0px;
	height: 125px;
	border-radius: 10px;
}

.search_con {
	margin: 0 0 10px 0;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.search_con h1 {
	color: #3498db;
}

.afixds_con {
	margin: 0 0 0 0;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.afixds_con h1 {
	color: #3498db;
}



.plusone {
	position: relative;
	top: 50%;
	width: 106px;
	margin: -24px 0 0 0!important;
	height: 24px;
}

.vert-cen {
	top: 50%;
	position: relative;
	margin-right: 47px;
	display: inline-block;
}

.fbshare {
	margin-top: -24px;
}

.share {
	height: 100%;
	width: 45%;
	margin: 0 0 0 5%;
	display: inline-block;
	float: left;
}

.welcome_box {
	margin: 0 0 10px 0;
	height: 250px;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	text-align: center;

}

.left_welcome {
	width: auto;
	height: auto;
	margin: 0 auto 0 auto;
	color: white;
	font-family: "Lato", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 46px;
	font-weight: 800;
	padding: 15% 0 0 0;
	text-align: center;
}

.left_welcome a {
	color: white;
	font-weight: 700;
}

.shadow {
	text-shadow: 0 1px 1px black;

}

.mob-nav {
	display: inline-block;
}

strong a {
	color: inherit;
	text-decoration: none;
}

.logo a {
	text-decoration: none;
	color: inherit;
}


.header_fix {
	width: 50%;
	font-size: 26px!important;
	margin: 0 auto 0 auto;
	padding: 2% 0 0 0;
}

.welcome_box p {
	margin: 81.5px 0 0 0;
}

.sub-header {
	margin-bottom: 2px;
	line-height: auto;
	font-size: 26px;
	font-weight: 700;
	color: #3498db;
}

hr {
	margin: 0 0 10px 0;
	background-color: rgba(0,0,0,0.3)!important;
}

.footer {
	width: 100%;
	height: 50px;
	background-color: #f2f2f2;
	position: absolute;
	bottom: 0;
	border: 1px solid #e4e4e4;
}

#pull {
	font-family: sans-serif!important;
	display: hidden;
}

.dropdown {
	display: none;
}

.small-menu {
	display: none;
}

/* START OF LANDING PAGE CSS */

.blue_half {
	background-color: #3498db;
	height: 40%;
	width: 100%;
	margin: 0;
	min-height: 380px;
}

.head_shadow {
	text-transform: none;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 36px;
	text-shadow: 1px 0px 1px rgba(0,0,0,0.3);
}

.blue_half h2 {
	font-size: 18px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: white;
	font-weight: 400;
}

.main_info h1 {
	text-transform: none;
	color: black;
}

.main_info {
	margin-top: 38px;
}

.main_info h2 {
	font-size: 26px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 0 0 25px 0;
	padding-top: 20px;
}

.header_area {
	height: auto;
}

.header_area p {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 18px;
}

.inner_container {
	width: 50%;
	margin: 0 auto 0 auto;
}

.logo_land h1 {
	color: white;
	font-size: 26px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.blue_half .inner_container {
	padding-top: 2%!important;
}

.beta_apply .beta_email {
	width: 56%;
	height: 50px;
	line-height: 30px;
	border: 0;
	padding: 5px;
	color: black;
	background-color: white;
	outline: 0;
	margin-right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0!important;
	border-bottom-right-radius: 0!important;
}

.beta_email:hover, .beta_email:focus {
	background-color: white!important;
}

.beta_apply input {
	height: 50px;
	width: 140px;
	background-color: black;
	color: white;
	border: 0;
	outline: 0;
	margin-left: -5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 20px;
	-webkit-appearance: none;
  	-webkit-border-radius: 0;
}

.beta_apply input:hover, .beta_apply input:focus {
	background-color: #2980b9;
}

#notice {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: white;
}

.step {
	height: 250px;
	width: 100%;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: black;
}

.logo_land img {
	position: relative;
	margin: 0 5px 0 0;
	width: 20px;
	height: 20px;
}

.inline-block {
	display: inline-block;
	float: left;
}

.desc-fix {
	text-align: center;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

.main_info p {
	font-size: 18px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-align: center;
}

.main_info {
	line-height: 1.5em;
}

.center_as {
	margin: 0 auto 0 auto;
	display: block;
}

.main_info a {
	color: #3498db;
	font-weight: 700;
}

.blue_second {
	height: 25%;
	background-color: #3498db;
	line-height: 1.75em;
}

.blue_second .beta_apply {
	width: 490px;
	margin: 0 auto 0 auto;
	position: relative;
	top: 25%;
}

.blue_second .beta_apply .beta_email {
	width: 350px;
}

.first25 {
	position: relative;
	top: 25%;
	margin-top: -30px;
}

.blue_second h2 {
	color: white;
	margin-bottom: 0;
}

.secure_pay {
	margin: 0 0 38px 0;
}

.how_works {
	margin: 0 0 38px 0; 
}

.lighter {
	font-weight: 300;
}

@media screen and (max-width: 640px) {
	.inner_container {
		width: 100%;
	}

	.blue_half {
		height: auto;
	}

	.header_area {
		height: auto;
	}

	.blue_half .inner_container {
		padding-top: 5px!important;
		text-align: center
	}

	.beta_apply .beta_email {
		width: 75%;
		line-height: default;
		border-radius: 0;
	}

	.beta_apply input {
		width: 25%;
		border-radius: 0;
	}

	.beta_apply {
		margin: 0 auto 0 auto;
		display: inline-block;
	}

	.first25 {
		height: auto;
		margin-top: -15px!important;
	}

	.blue_second .beta_apply {
		width: 198px;
		margin: 0 auto 0 auto;
		display: inline-block;
		left: 50%;
		margin-left: -99px;
		padding-top: 5px;
		position: relative;
	}

	.blue_second .beta_apply .beta_email {
		width: 75%;
	}

	.blue_second {
		height: auto;
	}

	.text_info_f {
	margin-top: 0px;
	height: 250px;
	border-radius: 10px;

	}

	.text_info_f .extra_info_f {
		display: inline-block;
	}
}


/* BLOG CSS */

.inner_container_blog {
	width: 50%;
	margin: 0 auto 0 auto;
	padding: 4% 0 0 0;
} 

.blue_bg {
	background-color: #3498db;
	width: 100%;
	height: auto;
	min-height: 100%;
}

.blog_post {
	height: auto;
	min-height: 200px;
	width: 90%;
	padding: 5%;
	background-color: white;
	border-radius: 10px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	margin: 0 0 40px 0;
}

.blog_title {
	font-weight: 700;
	font-size: 36px;
	-webkit-text-stroke: 0.6px;
	color: #3498db;
}

.blog_content {
	font-weight: 300;
	font-size: 18px;
}

.blog_timestamp {
	font-weight: 700;
	color: #3498db;
}