/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

body {
	background-color: #ffffff;
	margin: 0;
}

.red_bg {
	background-color: #e74c3c;
	height: 100%;
}

.glob-con {
	margin: 0px auto 0 auto;
	padding: 0 0 0px 0;
	width: 1060px;
	position: relative;
	top: 70px;
}

.glob-con_m {
	margin: 0px auto 0 auto;
	padding: 0 0 0px 0;
	width: 1060px;
	position: relative;
	top: 80px;
}

hr {
	border: 0;
    height: 1px;
    background: #333;
}

.scroll {
	height: 256px;
	width: 256px;
	background: url("arrow.png");
	display: block;
}

.arrow_down {
	position: absolute;
	top: 70%;
	left: 50%;
	margin-left: -128px;
	width: auto;
	height: auto;
}

.welcome_area {
	background-color: #e74c3c;
	height: 100%;
	width: 100%;
	top: 70px;
	position: relative;

}

.index-con {
	
}

 .login_form {
 	width: 600px;
 	height: auto;
 	top: 50%;
 	left: 50%;
 	margin-top: -92px;
 	margin-left: -300px;
 	position: absolute;
 }

 .login_form input {
 	width: 600px;
 	height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 .new_ad {
 	position: relative;
 	top: 50px;
 }

  .new_ad input {
 	width: 600px;
 	height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	background-color: white;
 	line-height: 50px;
 }

.search_f input {
 	width: 200px;
 	height: 30px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	background-color: white;
 	line-height: 30px;
 }

 .search_f {
 	margin: 0;
 }

 .search_f .submit {
 	background: buttonface!important;
 	width: 100px!important;
 }

 .new_ad textarea {
 	width: 600px;
 	height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	background-color: white;
 	line-height: 50px;
 }

 .new_ad button {
 	border: none;
 	border-radius: 10px;
 	width: 600px;
 	height: 50px;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	background-color: white; 
 }

.no_align input {
	text-align: left!important;
	width: 100px;
	line-height: 50px;
	height: 50px; 
}

 .ra_button input {
 	box-shadow: none!important;
 }

.login_form .small_btn {
	width: 290px!important;
	margin: 0 10px 0 0;
	float: left;
}

.login_form .small_btn_right {
	width: 290px;
	margin: 0 0 0 10px;
	float: right;
	height: 50px;
}

.small_fix {
	width: 100%!important;
}

.login_form a {
	color: inherit;
	text-decoration: none;
 	font-size: 16px;
 	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.login_form .small_btn_right {
	width: 290px;
 	height: 50px;
 	line-height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
 	background-color: buttonface;
 	color: inherit;
 	text-decoration: none;
}

label {
	color: white;
	font-family:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.label {
	color: white;
	font-family:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new_ad span {
	color: white;
	font-family:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new_ad_fix {
	margin: 0 auto 0 auto;
	width: 604px!important;
	display: block!important;
}

.new_ad {
	margin: 0 auto 0 auto;
	width: auto;
	display: inline-block;
}

.font_area_fix {
	font-size: 16px!important;
	text-align: left!important;
	height: 300px!important;
	line-height: normal!important;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.pointer {
	cursor: pointer;
}

.field {
	display: inline-block;
}

.middle_cen {
	margin: 0 auto 0 auto;
	float: none;
	width: 290px;
	height: 50px;
}

.shiw {
	color: white;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 800px;
	margin-left: -400px; 
	margin-top: -80px;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 50%;
}

.shiw h2 {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center; 
	margin-top: 0 0 40px 0;
	font-weight: 700;
}

h1 {
	color: white;
	font-family: "Montserrat", "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.adspace_grid {
	width: 125px;
	height: 125px;
	background-color: white;
	border-radius: 10px;
	display: inline-block;
}

.text_info {
	height: 50px;
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 125px;
	margin-top: 75px;
		transition: margin-top 0.1s;
-webkit-transition: margin-top 0.1s; /* Safari */
}

.navs form {
	display: inline-block!important;
}

.glow_f {
	box-shadow: none!important;
}

.text_info_f {
	height: 50px;
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 250px;
	margin-top: 200px;
	transition: margin-top 0.1s;
-webkit-transition: margin-top 0.1s; /* Safari */
}

.bold {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif!important;
	font-weight: 700;
}

.logo {
	width: auto;
	float: left;
	font-size: 35px;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif;
	color: white;
	margin: 0 0 0 15px;
	font-weight: 800;
}

.navs {
	color: black;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	width: auto;
	float: right;
	margin: 0 15px 0 0;
}

.navs a {
	text-decoration: none;
	color: white;
	margin: 0 0 0 30px;
}

.navs a:hover {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif;
	font-weight: 700;
}

.navs .submit {
	background-color: white!important;
	color: black!important;
	box-shadow: none;
	height: 32px;
}

.header {
	height: 70px;
	line-height: 70px;
	z-index: 400;
}

.pic_sec {
	height: 125px;
	width: 125px;
	display: inline-block;
    vertical-align:middle;
    position: absolute;
}

.featured_con {
	width: 400px;
	height: 400px;
	margin: 0 auto 0 auto;
}

.pic_sec_f {
	height: 250px;
	width: 250px;
	display: inline-block;
    vertical-align:middle;
    position: absolute;
}

.adspace_grid_f {
	width: 250px;
	height: 250px;
	background-color: white;
	border-radius: 10px;	
	display: inline-block;
	margin: 0 15px 10px 0;
	background-color: white;
	color: black;
}

.pic_sec img {
	border-radius: 10px;
}

.pic_sec_f img {
	border-radius: 10px;
}

.title_show {
	font-size: 36px!important;
	text-align: center;
}

.white_box {
	width: 1060px;
	min-height: 850px;
	background-color: white;
	border-radius: 10px;
	position: relative;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);	
	display: inline-block;
	top: 70px;
	left: 50%;
	margin-left: -520px;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding: 0 10px 0 10px;
}

.show_img {
	margin: 0 auto;
	border-radius: 10px;
	display: block;
}

a.delete {
	font-family:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
}

a.title {
	font-family:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;	
}

.header {
	background-color: #e74c3c;
	width: 100%;
	position: fixed;
}

.text_title {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.text_info_f:hover {
	margin-top: 0px;
	height: 250px;
	border-radius: 10px;

}

.extra_info_f {
	color: white;
	display: none;
}

.extra_info {
	color: white;
	display: none;
}

.text_info_f:hover .extra_info_f {
	display: inline-block;
}

.text_info:hover .extra_info {
	display: inline-block;
}

.featured_container {
	width: 100%;
	height: auto;
}

.text_info:hover {
	margin-top: 0px;
	height: 125px;
	border-radius: 10px;
}

.search_con {
	margin: 0 0 10px 0;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.search_con h1 {
	color: #e74c3c;
}

.ads_con {
	margin: 0 0 0 0;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.ads_con h1 {
	color: #e74c3c;
}

.welcome_box {
	margin: 0 0 10px 0;
	height: 250px;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	text-align: center;

}

.left_welcome {
	width: 900px;
	height: auto;
	margin: 0 0 0 50px;
	color: white;
	font-family: "Montserrat", "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 46px;
	font-weight: 800;
	position: relative;
	top: 30%;
}

.shadow {
	text-shadow: 0 1px 1px black;

}

strong {
	color: #e74c3c;
}

strong a {
	color: inherit;
	text-decoration: none;
}

.welcome_box p {
	margin: 81.5px 0 0 0;
}

.sub-header {
	margin-bottom: 2px;
	line-height: auto;
	font-size: 26px;
	font-weight: 700;
}

hr {
	margin: 0 0 10px 0;
	background-color: rgba(0,0,0,0.3)!important;
}