/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @font-face {
	font-family: NexaBold;
	src: url('<%= asset_path 'NexaBold.otf' %>');
 }

 @font-face {
 	font-family: NexaBold;
	src: url('<%= asset_path 'NexaBold.otf' %>');
 }

body {
	background-color: #e74c3c;
	margin: 0;
}

.glob-con {
	margin: 15px 250px;
}

 .login_form {
 	width: 600px;
 	height: 240px;
 	top: 50%;
 	left: 50%;
 	margin-top: 0;
 	margin-left: -300px;
 	position: absolute;
 }

 .login_form input {
 	width: 600px;
 	height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: NexaLight, Helvetica, Arial, sans-serif;
 }

  .new_ad input {
 	width: 600px;
 	height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: NexaLight, Helvetica, Arial, sans-serif;
 	background-color: white;
 	line-height: 50px;
 }

 .new_ad textarea {
 	width: 600px;
 	height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: NexaLight, Helvetica, Arial, sans-serif;
 	background-color: white;
 	line-height: 50px;
 }

 .new_ad button {
 	border: none;
 	border-radius: 10px;
 	width: 600px;
 	height: 50px;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	background-color: white; 
 }

.no_align input {
	text-align: left!important;
	width: 100px;
	line-height: 50px;
	height: 50px; 
}

 .ra_button input {
 	box-shadow: none!important;
 }

.login_form .small_btn {
	width: 290px!important;
	margin: 0 10px 0 0;
	float: left;
}

.login_form .small_btn_right {
	width: 290px;
	margin: 0 0 0 10px;
	float: right;
	height: 50px;
}

.small_fix {
	width: 100%!important;
}

.login_form a {
	color: inherit;
	text-decoration: none;
 	font-size: 16px;
 	font-family: NexaLight, Helvetica, Arial, sans-serif;

}

.login_form .small_btn_right {
	width: 290px;
 	height: 50px;
 	line-height: 50px;
 	border: 0;
 	text-align: center;
 	border-radius: 10px;
 	outline: none;
 	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);
 	margin: 0 0 10px 0;
 	font-size: 16px;
 	font-family: NexaLight, Helvetica, Arial, sans-serif;
 	background-color: buttonface;
 	color: inherit;
 	text-decoration: none;
}

label {
	color: white;
	font-family: NexaBold, Helvetica, Arial, sans-serif;
}

.label {
	color: white;
	font-family: NexaBold, Helvetica, Arial, sans-serif;
}

.new_ad span {
	color: white;
	font-family: NexaBold, Helvetica, Arial, sans-serif;
}

.new_ad_fix {
	margin: 0 auto 0 auto;
	width: 604px!important;
	display: block!important;
}

.new_ad {
	margin: 0 auto 0 auto;
	width: auto;
	display: inline-block;
}

.font_area_fix {
	font-size: 16px!important;
	text-align: left!important;
	height: 300px!important;
	line-height: normal!important;
	font-family: NexaLight, Helvetica, Arial, sans-serif;
}

input.pointer {
	cursor: pointer;
}

.field {
	display: inline-block;
}

.middle_cen {
	margin: 0 auto 0 auto;
	float: none;
	width: 290px;
	height: 50px;
}

.shiw {
	color: white;
	font-family: NexaLight, Helvetica, Arial, sans-serif;
	width: 800px;
	margin-left: -400px; 
	margin-top: -80px;
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 50%;
}

.shiw h2 {
	font-family: NexaBold, Helvetica, Arial, sans-serif;
	text-align: center;
	margin-top: 0 0 40px 0;
}

h1 {
	color: white;
	font-family: NexaBold, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

.adspace_grid {
	width: 695px;
	height: 150px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);	
	display: inline-block;
	margin: 0 5px 0 0;
}

.text_info {
	height: 125px;
	margin-top: 12px;
	text-transform: uppercase;
	font-family: NexaLight;
	margin-right: 10px;
}

.text_info_f {
	height: 125px;
	margin-top: 37px;
	text-transform: uppercase;
	font-family: NexaLight;
	margin-right: 10px;
}

.bold {
	font-family: NexaBold!important;
}

.navs {
	color: black;
	font-family: NexaLight;
	text-transform: uppercase;
	font-size: 20px;
	width: auto;
	float: right;
	margin: 0 15px 0 0;
}

.navs a {
	text-decoration: none;
	color: black;
	margin: 0 0 0 30px;
}

.navs a:hover {
	font-family: NexaBold;
}

.header {
	height: 70px;
	line-height: 70px;
	background-color: white;
}

.pic_sec {
	height: 125px;
	width: 125px;
	display: inline-block;
    vertical-align:middle;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.featured_con {
	width: 400px;
	height: 400px;
	margin: 0 auto 0 auto;
}

.pic_sec_f {
	height: 250px;
	width: 250px;
	display: inline-block;
    vertical-align:middle;
    float: left;
    margin-left: 7px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.adspace_grid_f {
	width: 1400px;
	height: 260px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);	
	display: inline-block;
	margin: 0 15px 10px 0;
}

.pic_sec img {
	border-radius: 10px;
}

.pic_sec_f img {
	border-radius: 10px;
}

.title_show {
	font-size: 36px!important;
	text-align: center;
}

.white_box {
	width: 1400px;
	min-height: 850px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 1px 1px rgba(0,0,0,0.3);	
	display: inline-block;
	margin: 0 15px 0 0;
	font-family: NexaLight, Helvetica, Arial, sans-serif;
	font-size: 20px;
	padding: 0 10px 0 10px;
}

.show_img {
	margin: 0 auto;
	border-radius: 10px;
	display: block;
}

a.delete {
	font-family: NexaBold, Helvetica, Arial, sans-serif;
	color: #e74c3c;
}

a.title {
	font-family: NexaBold, Helvetica, Arial, sans-serif;
	color: #e74c3c;	
}
